<section class="todo-container">
  <section class="todo-section">
    <h1>Create New To-Do</h1>
    <form ng-submit="postTodo(newTodo); newTodo = null" method="post">
      <input class="input-todo-title" type="text" ng-model="newTodo.todo_title" placeholder="To-Do Title..." />
      <textarea class="input-todo-desc" rows="2" type="text" ng-model="newTodo.todo_description" placeholder="To-Do Description..."></textarea>
      <button class="button-create-todo" type="button" ng-click="postTodo(newTodo); newTodo = null" name="button">Create</button>
    </form>
  </section>

  <section class="todo-list-section">
    <h1>To-Do List</h1>
    <div ng-repeat="todo in todos track by $index"class="list-item-wrapper">
      <div class="todo-title-bar">
        <p>{{todo.todo_title}}</p>
        <i class="fa fa-pencil" aria-hidden="true" ng-click="editTodo()"></i>
      </div>
      <div class="todo-desc-container">
        <input type="checkbox" class="todo-checkbox"style="cursor: pointer" ng-model="todo.checked">
        <label class="todo-checkbox-label"></label>
        <p>{{todo.todo_description}}</p>
      </div>
    </div>
    <button type="button" class="update-list" ng-click="updateList()">Update List</button>
  </section>

  <section class="todo-list-section">
    <h1>Completed Items</h1>
    <div ng-repeat="complete in completes track by $index"class="list-item-wrapper">
      <p>{{complete.complete_title}}</p>
      <p>{{complete.complete_description}}</p>
      <button type="button" ng-click="deleteCompletes(complete)" name="button">X</button>
    </div>
  </section>
</section>
